/* OVERVIEW SECTION */

#overview {
  background: url("/images/freedom.jpeg");
  width: 100%;
  height: 528px;
  padding: 10px;
}

#overview h1 {
  color: white;
  font-family: "Bitter", sans-serif;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

/* PLANS SECTION */

#plans {
  text-align: center;
  width: 80%;
  margin: auto;
}

/* set each plan section styling */
.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

/* highlight recommended plan styling */
.plan--highlighted {
  background: #2ddf5c;
  color: white;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan--highlighted .plan__title {
  color: white;
}

/* recommnded plan anotation styling */
.plan__annotation {
  background: white;
  color: #2ddf5c;
  padding: 8px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

/* set default price  */
.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* set line spacing for plan features */
.plan__features li {
  margin: 8px 0;
}

/* KEY FEATURES SECTION */

#key-features {
  background: brown;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  height: 128px;
  margin: auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
